/* General Styling */
body {
  margin: 0;
  padding-top: 65px;
  background-color: #f8e9d5;
  min-width: 360px;
  height: auto;
}
nav {
  width: 100%;
  min-width: 360px;
  position: fixed;
  top: 0px;
  z-index: 999;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3d4048;
}
nav li a {
  border: none;
  float:right;
  display: block;
  padding: 14px 16px;
  font-family: sans-serif;
  color: #aa7570;
  text-decoration: none;
  cursor: pointer;
}
nav a.title {
  float: left;
  font-weight: bold;
  color: #3d4048;
  background-color: #aa7570;
}
nav a.title img {
  height: 32px;
  margin: -9px;
  margin-right: 4px
}
nav li a:hover {
  color: #3d4048;
  background-color: #aa7570;
}
#sheet-file {
  display: none;
}
#sheet-html footer {
  width: 100%;
  bottom: 0;
  left: 0;
}
#sheet-html footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3d4048;
}
#sheet-html footer li a {
  border: none;
  float:left;
  display: block;
  padding: 14px 16px;
  font-family: sans-serif;
  color: #aa7570;
  text-decoration: none;
  cursor: pointer;
}
#sheet-html footer li a:hover {
  color: #3d4048;
  background-color: #aa7570;
}
#sheet section {
  background-color: white;
  position: relative;
  width: 960px;
  min-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px #888;
}
#sheet img.page {
  top: 0;
  left: 0;
  max-width: 100%;
  min-width: 100%;
  display: block;
}
#sheet input,
#sheet textarea {
  border: 0;
  outline: 0;
  position: absolute;
  background: transparent;
  resize: none;
}
#sheet figure {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  cursor: pointer;
}
#sheet figure img {
  margin: auto;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
}
#sheet input[type=checkbox] {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  outline: 0;
  border: 0;
  display: inline-block;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
#sheet input[type=checkbox]:focus {
  outline: 0px;
  border: 1px dotted black;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
#sheet input[type=checkbox]:checked {
  background-color: black;
  text-align: center;
  border-radius: 100%;
}
.hidden {
  display: none;
}

/* only show character sheet pages when printing */
@media print {
  * {
    margin: 0 !important;
    padding: 0 !important;
  }
  html,
  body,
  main,
  footer,
  form,
  section,
  img.page {
    height: 100%;
  }
  body {
    background-color: white;
    page-break-after: avoid;
  }
  header, nav, footer {
    display: none !important;
  }
  section {
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: none !important;
  }
  img.page {
    display: inline;
  }
}
